TAG=0.0.2

# Environment: local, staging, development, production
ENVIRONMENT=development
# Domain
# This would be set to the production domain with an env var on deployment
DOMAIN=localhost

# TODO (Traefik): Once Traefik is implemented, uncomment FRONTEND_HOST
# and switch to the domain model (e.g., http://app.localhost)
# FRONTEND_HOST=http://localhost:5173

# Compose environment variables
COMPOSE_PROJECT_NAME=fst-dev
COMPOSE_FILE=compose.yml:compose.override.yml

# Configure these with your own Docker registry images
DOCKER_IMAGE_BACKEND=backend-dev
DOCKER_IMAGE_FRONTEND=client-dev

# Project
PROJECT_NAME="Full Stack FastAPI Project - Development"
PROJECT_DESCRIPTION="A full stack FastAPI project template with Docker, Postgres, and more."

# Root user
ROOT_USER_EMAIL=root@local.ru
ROOT_USER_PASSWORD=abc123
ROOT_USER_SHOULD_CREATE=true

# Client
CLIENT_PORT=8010

# Backend
BACKEND_PORT=8005
BACKEND_HOST=backend
BACKEND_API_PREFIX=/api
BACKEND_CORS_ORIGINS=["http://localhost", "http://localhost:5173"]

# --- Auth settings ---
AUTH_JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
AUTH_JWT_REFRESH_TOKEN_EXPIRE_DAYS=1
AUTH_JWT_PRIVATE_KEY_PATH=./certificates/jwt-private.pem
AUTH_JWT_PUBLIC_KEY_PATH=./certificates/jwt-public.pem
AUTH_COOKIE_SECURE=false

# Postgres
POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_DB=apps
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Pg admin
PGADMIN_PORT=9455
PGADMIN_DEFAULT_EMAIL=admin@template.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_API_PREFIX=/admin/pgadmin

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=apps
REDIS_SSL=False

# Flower
FLOWER_PORT=5555
FLOWER_BASIC_AUTH=admin:admin
FLOWER_API_PREFIX=/admin/flower

# Emails
MAILDEV_WEB_PORT=1080
MAILDEV_SMTP_PORT=1025

# Logging
LOG_LEVEL=INFO
# SENTRY_DSN="http://..."
# SENTRY_LOG_LEVEL=ERROR