# Установить поведение по умолчанию, если у пользователей не настроено core.autocrlf.
# Git будет автоматически определять текстовые файлы и нормализовать в них перевод строк.
* text=auto

# Явно указать файлы .sh как текстовые и всегда использовать LF (Unix-перевод строки)
# при их извлечении на любую систему. Это важно для корректной работы bash-скриптов в Docker.
*.sh text eol=lf

# Явно указать файлы .sln как текстовые, но всегда использовать CRLF (Windows-перевод строки)
# при их извлечении. Это может быть нужно для совместимости с Visual Studio.
# *.sln text eol=crlf

# Указать, что файлы .png и .jpg являются бинарными.
# Git не будет пытаться изменить их содержимое (например, перевод строк), что предотвращает их повреждение.
*.png binary
*.jpg binary